body {
  background: #c9d1d3
}

#cachorros {
width:70;
}

#cachorros {
  height: 40%;
}

h1 {
  text-aling: center
}

p {
  text-aling: center;
}

#fonte {
  font-size: 25px
}

em strong {
  color: #000000
}

.Assuntos {
  background: #f7f7f7
}
